body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

a {
    color: #093B70;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #8C9192;
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

/* Bulma Override */
.button.is-primary {
    background-color: #002C5F;
}
.button.is-primary:hover {
    background-color: #093B70;
}

.navbar {
    background-color: #002C5F;
    min-height: 3.25rem;
    position: relative;
}

.navbar-burger:hover {
    background-color: #8C9192;
}

.navbar-burger.is-active span {
    background-color: #fff;
}

.navbar-item,
.navbar-link {
    color: #fff;
}

a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: #8C9192;
    color: #fff;
}

.navbar-item.is-tab:hover {
    border-bottom-color:#093B70;
}

.navbar-item.is-tab.is-active {
    border-bottom: 3px solid#093B70;
    color:#093B70;
}

.navbar-divider {
    background-color: #8C9192;
}

.navbar-dropdown {
    background-color: #002C5F;
    border-top: 1px solid #002C5F;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: #8C9192;
    color: #000;
}

.navbar-dropdown a.navbar-item.is-active {
    background-color: #8C9192;
    color: #000;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #8C9192;
}

@media screen and (min-width: 1008px) {
    .navbar-link::after {
        border: 1px solid #8C9192;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.5em;
        pointer-events: none;
        position: absolute;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 0.5em;
        margin-top: -0.375em;
        right: 1.125em;
        top: 50%;
    }
}